<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

  <body>
	<% include partials/navbar %>
    <div class="container-fluid text-center">
       <h1 class="display-4"><%= page %></h1>
    </div>


    <!-- Main Container -->
    <div class="main">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">

          <form action="/" method="POST">
			<fieldset>
				<!-- Both URL and file inputs are here, but we may only use URL, so the other is commented out for now. -->
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="recipe_name">Recipe Name: </label>
					<input class="col-sm-8" id="recipe_name" type="text" name="recipe_name" required>
				</div>
				<!--
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="recipe_image">Upload an image... </label>
					<input type="file" name="recipe_image" id="recipe_image" accept="image/*">
				</div> 
				-->

				<!-- Placeholder or value? -->
				<div class="form-group row">
			        <label for="recipe_url">Enter a URL:</label>
			        <input type="url" name="recipe_url" id="recipe_url" placeholder="https://" pattern="https://.*" size="20"/>
			   </div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="recipe_instructions">Method: </label>
					<input class="col-sm-8" id="recipe_instructions" type="text" name="recipe_instructions" required>
				</div>



				<div class="form-group row" id="list_ingredients">Ingredients:
					<input id="ingredient_1" type="text" name="ingredient_1">
					<input id="amount" type="number" style="width: 80px">
					<select name="unit_of_measure">
						<% for ( let i = 0; i < units.length; i++ ) { %>
			               <option value="<%= units[i].unit_of_measure_id %>"><%= units[i].unit_of_measure_name %></option>
			            <% } %>
					</select> 
				</div>
				
				<div class="form-group row">
					<select name="recipe_category">
						<% for ( let i = 0; i < cuisines.length; i++ ) { %>
			               <option value="<%= cuisines[i].cuisine_id %>"><%= cuisines[i].cuisine_name %></option>
			           <% } %>
					</select>
					<select name="recipe_cuisine">
						<% for ( let i = 0; i < categories.length; i++ ) { %>
			               <option value="<%= categories[i].recipe_category_id %>"><%= categories[i].recipe_category_name %></option>
			            <% } %> 
					</select>
				</div>





				<div class="form-group row">
					<div class="col-sm-6">
						<input class="form-control" id="addRecipe" type="submit" name="addRecipe" value="Submit Recipe">
					</div>
				</div>
			</fieldset>
		</form>

          </div>
        </div>
      </div>
    </div>


    <% include partials/footer %>
    <% include partials/script %>
  </body>
</html>
