<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

    <body>
      <% include partials/navbar %>

        <div class="container text-center">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
              <!-- Main Centered Image -->
              <div class="mb-3"><img id="wheelImg" src="./images/carrotwheel.png"></div>
            </div>
          </div> 

          <div class="row justify-content-center align-items-center">
            <div class="col-sm-8 col-md-6 col-lg-4">

              <!-- Recipe Wheel Form -->
              <form action="/" method="post">

                <!-- Recipe Category -->
                <div class="form-group text-left">
                  <select class="form-control"name="recipe-category" id="recipe-category">
                    <% for ( let i = 0; i < categories.length; i++ ) {
                      var selected = ( categories[i].recipe_category_name == "Main Course" ) ? "selected" : "";
                      %><option value="<%=categories[i].recipe_category_id %>" <%=selected %>><%= categories[i].recipe_category_name %></option>
                    <% } %>
                  </select>
                </div>

                <!-- Recipe Cuisine -->
                <div class="form-group">
                  <select class="form-control" name="recipe-cuisine" id="recipe-cuisine">
                    <option value="null" selected>Cuisine</option>
                    <% for (let i = 0; i < cuisines.length; i++) { %>
                      <option value="<%= cuisines[i].cuisine_id %>"><%= cuisines[i].cuisine_name %></option>
                    <% } %>
                  </select>
                </div>

                <!-- Dietary Restrictions -->
                <div class="form-group">
                  <select class="form-control" name="dietary-restriction" id="dietary-restriction">
                    <option value="null" selected>Dietary Restriction</option>
                    <% for (let i = 0; i < diets.length; i++) { %>
                      <option value="<%= diets[i].dietary_restriction_id %>"><%= diets[i].dietary_restriction_name %></option>
                    <% } %>
                  </select>
                </div>


                <!-- Spin the Wheel -->
                <input id="spinWheel" class="btn btn-primary btn-block" type="submit" value="Spin the Wheel!">
                <br>
              </form>
              <br>


              <!-- Space to put a recipe -->
              <div id="recipeDisplay"></div>

            </div>
          </div>
        </div>

        <% include partials/footer %>
        <% include partials/script %>
        <% include partials/spinScript %>
    </body>
</html>
