<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

    <body class="bg-cover bg-cover-faded">
      <% include partials/navbar %>

        <div class="container text-center">
          <h1 class="display-4"><%= page %></h1>

          <div class="browse-options mt-5 mb-5">
            <!-- Search -->
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-8">
                <div class="form-group">
                <span class="form-control-clear">
                  <i class="fas fa-times-circle"></i>
                </span>
                  <input type="text" class="form-control" name="search" id="search" placeholder="Search for recipes...">
                </div>
              </div>
            </div>

            <!-- Filter -->
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-8">

                <div class="row">
                  <!-- Recipe Category -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-control-clear">
                        <i class="fas fa-times-circle"></i>
                      </span>
                      <select class="form-control" name="recipe-category" id="recipe-category">
                        <option value="null" selected>Category</option>
                        <% for ( let i = 0; i < categories.length; i++ ) { %>
                          <option value="<%=categories[i].recipe_category_id %>"><%= categories[i].recipe_category_name %></option>
                        <% } %>
                    </select>
                    </div>
                  </div>

                  <!-- Recipe Cuisine -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-control-clear">
                        <i class="fas fa-times-circle"></i>
                      </span>
                      <select class="form-control" name="recipe-cuisine" id="recipe-cuisine">
                      <option value="null" class="placeholder" selected>Cuisine</option>
                      <% for (let i = 0; i < cuisines.length; i++) { %>
                        <option value="<%= cuisines[i].cuisine_id %>"><%= cuisines[i].cuisine_name %></option>
                      <% } %>
                    </select>
                    </div>
                  </div>

                  <!-- Dietary Restrictions -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-control-clear">
                        <i class="fas fa-times-circle"></i>
                      </span>
                      <select class="form-control" name="dietary-restriction" id="dietary-restriction">
                      <option value="null" selected>Dietary Restriction</option>
                      <% for (let i = 0; i < diets.length; i++) { %>
                        <option value="<%= diets[i].dietary_restriction_id %>"><%= diets[i].dietary_restriction_name %></option>
                      <% } %>
                    </select>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <!-- Browse Recipes -->
          <div class="browse-content">
            <div class="row">
              <% for (let i = 0; i < recipes.length; i++) {
                const placeholder = "/images/pot.svg";
                const image = (recipes[i].recipe_image_url == null) ? placeholder : recipes[i].recipe_image_url;
              %>
                <div class="col-sm-6 col-md-4 col-xl-3 recipe-item" id="recipe-<%= recipes[i].recipe_id %>">
                  <div class="card card-normalized mb-5" id="<%= recipes[i].recipe_id %>">
                    <a href="/recipes/<%= recipes[i].recipe_id %>">
                      <img class="card-img-top card-img-normalized" src="<%= image %>">
                    </a>
                    <div class="card-body">
                      <h5 class="card-title"><%= recipes[i].recipe_name %></h5>
                      <p class="card-text"><%= recipes[i].recipe_description %></p>


                      <div class="card-base">
                        <% if (locals.session && locals.session.user) { %>
                          <% if (locals.session.user.user_id === recipes[i].user_id) { %>
                            <a href="/recipes/<%= recipes[i].recipe_id %>/edit" class="card-edit">
                              <i class="far fa-edit"></i>
                            </a>
                          <% } %>

                          <span class="card-thumbs">
                            <% const likedClass = (likedRecipes.includes(recipes[i].recipe_id) ? "selected" : "");
                              const dislikedClass = (dislikedRecipes.includes(recipes[i].recipe_id) ? "selected" : ""); %>  
                              <i class="far fa-thumbs-up recipe-like <%= likedClass %>" id="recipe-<%= recipes[i].recipe_id %>-like"></i>
                              <i class="far fa-thumbs-down recipe-dislike <%= dislikedClass %>" id="recipe-<%= recipes[i].recipe_id %>-dislike"></i>
                          </span>
                        <% } %>
                      </div>

                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>

        </div><!-- /container -->


        <% include partials/footer %>
        <% include partials/script %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"></script>

        <script>
          // make the recipes data available to the js files below
           const recipeList = <%- JSON.stringify(recipes) %>;
           const ingredientList = <%- JSON.stringify(ingredients) %>;
           const categoryList = <%- JSON.stringify(categories) %>;
           const cuisineList = <%- JSON.stringify(cuisines) %>;
           const dietList = <%- JSON.stringify(diets) %>;
        </script>

        <script src="/javascripts/recipeCards.js"></script>
        <script src="/javascripts/browse.js"></script>
    </body>
</html>