<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

    <body class="admin">
      <% include partials/navbar %>

      <div class="container-fluid">
        <div class="row">
          <% include partials/sidebar %>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="display-4"><%= page %></h1>
            </div>

            <div class="table-responsive">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    <th>Cuisine</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < data.length; i++) { %>
                  <tr>
                    <td><%= data[i].cuisine_id %></td>
                    <td><input type="text" id='<%= "name_" + data[i].cuisine_id %>' value='<%= data[i].cuisine_name %>'></td>
                    <td class="text-right">
                        <button type="button" class="btn btn-primary btn-sm" id='<%= "edit_" + data[i].cuisine_id %>'>Edit</button>
                        <button type="button" class="btn btn-danger btn-sm btn-delete" id='<%= "delete_" + data[i].cuisine_id %>'>Delete</button>
                    </td>
                  </tr>
                <% } %>
                </tbody>
              </table>
            </div>
          </main>
        </div>
      </div>


      <% include partials/footer %>
      <% include partials/script %>

      <script>
        const cuisineList = <%- JSON.stringify(cuisines) %>;
        $('#nav-cuisines').addClass('active');
      </script>

      <script src="./javascripts/cuisine.js"></script>
    </body>
</html>