<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>

    <body class="admin">
      <% include partials/navbar %>

      <div class="container-fluid">
        <div class="row">
          <% include partials/sidebar %>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
              <h1 class="display-4"><%= page %></h1>
              <button type="button" class="btn btn-primary btn-add">
                <span><i class="fas fa-plus"></i></span>
                <span class="ml-1">Add New</span>
              </button>
            </div>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-light">
                  <tr><th>Cuisine</th></tr>
                </thead>

                <tbody>
                  <% for (let i = 0; i < data.length; i++) { %>
                  <tr id="row-<%= data[i].cuisine_id %>">
                    <td class="d-none"><input type="text" value="<%= data[i].cuisine_id %>" name="cuisine_id"></td>
                    <td><input type="text" name="cuisine_name" class="form-control" value="<%= data[i].cuisine_name %>"></td>

                    <td class="record-actions">
                      <button type="button" class="btn btn-success btn-sm btn-save d-none" id="<%= 'save_' + data[i].cuisine_id %>">
                        <i class="fas fa-save"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-sm btn-edit" id="<%= 'edit_' + data[i].cuisine_id %>">
                        <i class="fas fa-pen"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-sm btn-delete" id="<%= 'delete_' + data[i].cuisine_id %>">
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </td>
                    
                  </tr>
                  <% } %>
                </tbody>
          
              </table>
            </div>

          </main>
        </div>
      </div>


      <% include partials/footer %>
      <% include partials/script %>

      <script>
        window.requestRoute = <%- JSON.stringify(page).toLowerCase().replace(/\s/g, '-'); %>;
        $('#nav-cuisines').addClass('active');
      </script>

      <script src="./javascripts/admin.js"></script>
    </body>
</html>